{% extends 'Base.html' %}



{% block content %}

<section>

    <h1>Chào mừng bạn đến với Cửa Hàng Laptop XYZ</h1>
    <p>
        Cửa Hàng Laptop XYZ là địa điểm lý tưởng cho những người đam mê công nghệ và đang tìm kiếm chiếc laptop hoàn hảo.
        Chúng tôi cung cấp một loạt các sản phẩm chất lượng từ các nhà sản xuất hàng đầu trên thế giới.
    </p>

    <p>

        Dù bạn đang cần một chiếc laptop mạnh mẽ để làm việc hay đơn giản là muốn trải nghiệm các trò chơi mới nhất,

        chúng tôi sẽ đáp ứng đúng nhu cầu của bạn với sự đa dạng và chất lượng.

    </p>

    <!-- Thêm nội dung khác nếu cần -->

</section>

{% endblock %}
