{% load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            span{
                position: absolute;
                margin-top: 5px;
                font-size: 23px;
                color: rgb(10, 103, 175);
                margin-left: 200px;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="" >
            <div style="height: 80px;color: black;">
                <img src="{%static  'app/image/LogoCNTT.png'%}" alt="">
                <span>Họ và tên: Thái Ngọc Quý</span>
                <span style="margin-top: 30px;">Lớp SH: 21TCLC_DT4</span>
                <span style="margin-top: 60px;">MSSV: 102210274</span>
            </div>
        </form>
        <script src="" async defer></script>
    </body>
</html>